{% extends 'base.html' %}

{% block body %}

<div class="login-form" style="background-color: blanchedalmond;" >
    <form action="/login" method="post">
        <div>
            <div class="col-6">
                {{ form.hidden_tag() }}
                <label for="formGroupExampleInput" class="form-label">{{ form.name() }}</label>
             {#  <input name="username" type="text" class="form-control" id="formGroupExampleInput" placeholder="Username" required="required" autocomplete="off">  #} 
            </div>
            <div class="col-6" style="padding-top: 30px;">
                <label for="formGroupExampleInput2" class="form-label">{{ form.password() }}</label>
                {#<input name="password" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password" required="required" autocomplete="off">#}
            </div>
        </div>
        <div class="col-3" style="padding-top:3px;">
            {{ form.submit() }}
            {#<button name="sign-in" value="sign-in" type="submit" class="btn btn-primary">Sign in</button>#}
        </div>
    </form>
</div>

{% endblock %}