{% extends 'base.html' %}

{% block body %}

<div class="login-form" style="background-color: blanchedalmond;" >
    <form method="post" autocomplete="off" >
        <div>
            <div class="col-6">
                {{ form.hidden_tag() }}
                    <label for="formGroupExampleInput" class="form-label">{{ form.email() }}</label> 
            </div>
            <div class="col-6" style="padding-top: 30px;">
                <label for="formGroupExampleInput2" class="form-label">{{ form.password() }}</label>
                {#<input name="password" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password" required="required" autocomplete="off">#}
            </div>
        </div>
        <div class="col-3" style="padding-top:3px;">
            {{form.remember_me.label}} {{form.remember_me() }} <br />
        </div>
        <a href="{{ url_for('auth.register') }}">Click here to register</a>
        {{ form.submit() }}
    </form>
</div>

{% endblock %}