{% extends "base.html" %}

{% block head %}
   {{ super() }}   
   <script>
       var dfreeHeaderConfig = {
         selector: '#journal-editor-header',
         // plugins: [ 'quickbars' ],
         toolbar: false,
         menubar: false,
         inline: true,
      };

      var dfreeBodyConfig = {
         selector: '#journal-editor-body',
         // plugins: [ 'quickbars'],
         toolbar: false,
         menubar: false,
         inline: true,
      };
      
      tinymce.init(dfreeHeaderConfig);
      tinymce.init(dfreeBodyConfig);
     
    </script>   
{% endblock %}

{% block body %}
      <div class="app">
      <div class="memento-app"> <!-- app-menu  -->
         <div class="app-layout journal-board">
            <aside aria-label="Journal list" class="app-layout-board" id="app-layout-board">
               <div class="menu-bar">
                  <button aria-label="This app • Ctrl+Shift+U" accesskey="u" class="icon-button" type="button" id="thisApp">
                     <img src="{{ url_for('static', filename='img/this-app.png') }}" alt="Logo" class="this-app-logo" width="47" height="47">
                  </button>
                  <div id="journal-title" aria-hidden="true">Your journals</div>
                  <div id="journal-toolbar_button-sidebar">
                     <button aria-label="Toggle Focus Mode" class="icon-button" type="button" data-title="Toggle Focus Mode" title="Toggle Focus Mode" id="FullWrite-icon-buttom">
                        <svg class="icon-sidebar" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                           <rect x="0" fill="none" width="24" height="24"></rect>
                           <path d="M20 4H4A2 2 0 0 0 2 6V18a2 2 0 0 0 2 2H20a2 2 0 0 0 2-2V6A2 2 0 0 0 20 4ZM4 6H7V18H4ZM20 18H9V6H20Z"></path>
                        </svg></button>
                  </div>
               </div>
               <div class="journal-list-is-empty" id="list-is-empty">
                  <div id="journal-list-items"></div>
                     <ul id="list-of-journals">
                        {# {{ journal_title_list }} #}
                        {% for row in journal_title_list %}
                           <div class="selectable-journal-item" data-item-num="{{ row.id }}"><button><li class="text-content">{{ row.title|striptags }}</li></button></div>
                        {% endfor %}
                     </ul>
                  </div>
                  <div class="journal-list-logo-elements" id="journal-list-logo-elements">
                     <div class="no-journal-icon" style="text-align: center;" id="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="4" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                           <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                           <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                           <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                        </svg>
                     </div>
                     <div class="list-journal-button" id="list-journal-button">
                           <button id="list-icon-bton" style="color:black; opacity: 0.4;">Create entry</button>
                     </div>
                  </div>
                  {% if journal_title_list|length != 0 %}
                     <script>document.getElementById('list-is-empty').className = 'journal-list-is-not-empty';
                        document.getElementById('journal-list-theme').style.display = 'none';
                     </script>
                  {% endif %}
            </aside>
            <main aria-label="Editor" class="app-layout-editor">
               <div class="editor-toolbar-wrapper">
                  <div class="editor-toolbar">
                     <div class="editor-toolbar_column-left" id="editor-toolbar_column-left">
                        <button aria-label="New Entry • Ctrl+Shift+I" accesskey="i" class="icon-button" type="button" id="editor-toolbar-button" style="display:;">
                           <svg class="icon-new-journal" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"><rect x="0" fill="none" width="24" height="24"></rect>
                              <path d="M9.707 12.879L19.59 3 21 4.41l-9.879 9.883L9 15 9.707 12.879zM18 18H6V6h7V4H6.002C4.896 4 4 4.896 4 6.002v11.996C4 19.104 4.896 20 6.002 20h11.996C19.104 20 20 19.104 20 17.998V11h-2V18z"></path>
                           </svg>
                        </button>
                        <button aria-label="Back • Ctrl+Shift+L" class="icon-button" type="button" data-title="Back • Ctrl+Shift+L" title="Back • Ctrl+Shift+L" class="journal-toolbar__button journal-toolbar-back" id="journal-toolbar-back" style="display: none;">
                           <svg class="icon-back" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </button>
                     </div>
                  </div>
                  <div class="editor-toolbar_column-right" id="editor-toolbar_column-right">
                     <button id="submit-button" class="btn btn-success submit-button" style="display:none;">Submit</button>
                     <button id="edit-button" class="btn btn-success edit-button" style="display:none;">Edit</button>
                     <button id="delete-button" class="btn btn-danger delete-button" style="display:none;">Delete</button>
                     <button id="save-button" class="btn btn-success save-button" style="display:none;">Save</button>
                     <button aria-label="Log-out" class="btn btn log-out-button" type="button" data-title="Log-out" title="Log-out" id="logout-button">
                        <a href="{{ url_for('.logout') }}" style="color: black;">Log out</a>
                     </button>
                  </div>
               </div>
               <div id="journal-editor-area" style="display: none;">
                  <div id="journal-editor-header" contenteditable="true" style="position: relative;" spellcheck="false">Title</div>
                  <div id="journal-editor-body" contenteditable="true" style="position: relative;" spellcheck="false"></div>
               </div>
               <section id="view-mode"  style="display: none;">
                  <div id="show-head"></div>
                  <div id="show-body"></div>
               </section>
               
               <div class="logo-holder" id="logo-holder">
                  <img src="{{ url_for('static', filename='img/logo1.jpeg') }}" alt="Logo" class="logo">
               </div>
            </main>
         </div>
      </div>   
   <!-- Custom JavaScript code-->
    <script src="{{ url_for('static', filename='js/myScript.js') }}"></script>
{% endblock %}